@import '@styles/_variables';

.home {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 2rem);
  height: 100vh;
  padding: 20px;

  .header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  .nav-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    flex-direction: column;

    .content-title {
      margin-bottom: 20px;
      align-self:flex-start;
    }
  }

  @media (max-width: 768px) {
    padding: 10px;

    .header {
      flex-direction: column;
      align-items: flex-start;
    }

    .nav-buttons {
      flex-direction: column;
      align-items: flex-start;
    }

    .content {
      padding: 10px;
    }

    .header {
      font-size: 24px;
    }
  }
}
