.data-table {
    overflow: hidden;
    width: 100%;

    .table-controls {
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
        width: 100%;

        .table-button {
            font-size: 0.8rem;
        }
    }

    .table-container {
        max-height: calc(100vh - 18rem);
        overflow: auto;
        table {
            width: 100%;
            border-collapse: collapse;

            th,
            td {
                border: 1px solid #ddd;
                padding: 1rem;
                text-align: left;
            }

            th {
                background-color: #f4f4f4;
            }

            tbody tr:nth-child(even) {
                background-color: #f9f9f9;
            }

            tbody tr:nth-child(odd) {
                background-color: #ffffff;
            }
        }

        .compact th,
        .compact td {
            padding: 0.5rem;
        }

        .comfortable th,
        .comfortable td {
            padding: 2rem;
        }

        @media (max-width: 768px) {
            table,
            th,
            td {
                font-size: 1.4rem;
            }
        }
    }
}
